.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  border-top: 1px solid #dee2e6;
}

.footer nav {
  padding: 1rem;
}

.content {
  min-height: 80vh;
  padding-bottom: 5rem; /* Adjust this padding to ensure content doesn't overlap with the footer */
}
